argparse
ast
atexit
base64
bdb
binascii
builtins
bz2
calendar
cmd
code
codecs
codeop
collections
contextlib
copy
copyreg
datetime
difflib
dis
doctest
dummy_threading
email
encodings
enum
errno
fnmatch
functools
gc
genericpath
getopt
gettext
glob
gzip
hashlib
heapq
html
http
imp
importlib
inspect
io
ipaddress
itertools
json
keyword
linecache
locale
logging
lzma
marshal
math
mimetypes
msvcrt
nt
ntpath
opcode
operator
optparse
os
pdb
pkgutil
platform
plistlib
posixpath
pprint
py_compile
pydoc
pydoc_data
pyexpat
quopri
random
re
reprlib
select
selectors
shlex
shutil
signal
socket
socketserver
sre_compile
sre_constants
sre_parse
ssl
stat
string
struct
subprocess
sys
tarfile
tempfile
textwrap
threading
time
token
tokenize
traceback
tty
types
unittest
urllib
uu
warnings
weakref
webbrowser
winreg
xml
zipfile
zipimport
zlib
