abc
argparse==1.4.0
ast
base64
bdb
bz2
calendar
cmd
code
codecs
codeop
collections
contextlib
copy
copyreg
datetime==4.9
difflib
dis==1.0.1
doctest
dummy_threading
email
encodings
enum
fnmatch
functools
genericpath
getopt
gettext
glob
gzip
hashlib
heapq
html
http
imp
importlib==1.0.4
inspect
io
ipaddress==1.0.23
json
keyword
linecache
locale
logging
lzma
mimetypes
ntpath
opcode
operator
optparse
os
pdb
pkgutil
platform
plistlib
posixpath
pprint
py_compile
pydoc
pydoc_data
pyexpat
quopri
random
re
reprlib
select
selectors==0.0.14
shlex
shutil
signal
socket
socketserver
sre_compile
sre_constants
sre_parse
ssl
stat
string
struct
subprocess
tarfile
tempfile
textwrap
threading
token
tokenize
traceback
tty
types
unittest
urllib
uu
warnings
weakref
webbrowser
xml
zipfile
